<div class="container-fluid row mx-auto">
    <app-aside class="p-0 m-0 col-2"></app-aside>
    <div class="col-10 main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <div class="card col-12 my-4 mx-auto">
            <div
                class="top-header card-header p-0 position-relative mt-n4 mx-3 z-index-2 border-radius rounded bg-dark">
                <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Editar insumos</h6>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="editarInsumoForm" (ngSubmit)="editarInsumo()" novalidate="">
                    <div class="mb-3 col-10 mx-auto" hidden>
                        <label>id</label>
                        <input type="text" class="form-control" formControlName="id" [value]="insumo.id" />
                    </div>
                    <div class="mb-3 col-10 mx-auto">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="name" [value]="insumo.name" />
                    </div>
                    <div class="mb-3 col-10 mx-auto">
                        <label>Fecha de vencimiento</label>
                        <input type="datetime" class="form-control" formControlName="expirationDate"
                            [value]="insumo.expirationDate">
                    </div>
                    <div class="mb-3 col-10 mx-auto">
                        <label>Fecha de entrada</label>
                        <input type="datetime" class="form-control" formControlName="entryDate"
                            [value]="insumo.entryDate">
                    </div>
                    <div class="mb-3 col-10 mx-auto" hidden>
                        <label>updatedAt: </label>
                        <input type="datetime" class="form-control" formControlName="updatedAt"
                            [value]="insumo.updatedAt">
                    </div>
                    <div class="mb-3 col-10 mx-auto">
                        <label>Precio</label>
                        <input type="number" class="form-control" formControlName="price"  [value]="insumo.price"/>
                    </div>
                    <div class="mb-3 col-10 mx-auto">
                        <label>Cantidad</label>
                        <input type="number" class="form-control" formControlName="quantity" [value]="insumo.quantity"/>
                    </div>
                    <div class="mb-3 col-10 mx-auto">
                        <label>Stock minimo</label>
                        <input type="number" class="form-control" formControlName="minimumStock" [value]="insumo.minimumStock"/>
                    </div>
                    <div class="row g-0 col-11 text-end justify-content-end">
                        <div class="mb-3 mx-1 col-auto">
                            <button (click)="regresar()" class="btn btn-secondary col-auto">Cancelar</button>
                        </div>
                        <div class="mb-3 mx-1 col-auto">
                            <button type="submit" class="btn btn-success col-auto" (click)="guardarCambios()">Editar
                                insumo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
