<div class="alert alert-warning col-5 mx-auto" role="alert" [hidden]="alerta">
  {{errorMsg}}
</div>
<div class="card col-5 mx-auto">
    <div class="card-body">
        <div class="justify-content-center">
            <div class="col-12 text-center">
                <img class="col-2 mx-auto"
                    src="https://cashhpkxslzqkicqbnet.supabase.co/storage/v1/object/sign/imagenes/logo.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZW5lcy9sb2dvLnBuZyIsImlhdCI6MTc0MzQ2ODE5NiwiZXhwIjoxNzc1MDA0MTk2fQ.ljFjSUzOZkUiWXW8I2Jk1TC5IMLAAvjS6_RYCJX_R1U"
                    alt="">
            </div>
        </div>
        <h5 class="card-title text-center my-2">Iniciar sesión en Pasteleria Fé-liz</h5>
        <form [formGroup]="crearLogin" (ngSubmit)="iniciar()" novalidate="">
            <div class="mb-3 col-10 mx-auto">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    formControlName="email">
            </div>
            <div class="mb-3 col-10 mx-auto">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="mb-3 col-10 mx-auto">
                <div class="col-8 mx-auto">
                    <re-captcha class="col-auto" *ngIf="mostrarCaptcha" (resolved)="captchaResolved($event  ?? '')"
                        siteKey="6Lf7-EgrAAAAAKNIK1QytJvnhFM0j-Kd6nrMJHxc">
                    </re-captcha>
                </div>
            </div>


            <div class="mb-3 text-center">
                <button type="submit" [disabled]="crearLogin.invalid || (mostrarCaptcha && !captchaToken)"
                    class="btn col-8" style="background-color: #5ac15d; color: white;">Iniciar sesión</button>
            </div>
            <div class="text-center">
                <a routerLink="/recuperacion" class="card-link">¿Has olvidado tu contraseña?</a>
            </div>
            <!-- <hr>
            <div class="mb-3 text-center d-flex justify-content-center">
                <button (click)="abrirGoogle()" type="button"
                    class="btn col-8 d-flex justify-content-center align-items-center"
                    style="background-color: #c15a5a; color: white;">
                    <img src="https://img.icons8.com/?size=512&id=17949&format=png" alt="Google Logo"
                        style="width: 20px; margin-right: 10px;">
                    Iniciar con Google
                </button>
            </div> -->
        </form>
    </div>
</div>